* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Moderate-blue: hsl(238, 40%, 52%);
    --Soft-Red: hsl(358, 79%, 66%);
    --Light-grayish-blue: hsl(239, 57%, 85%);
    --Pale-red: hsl(357, 100%, 86%);
    --Dark-blue: hsl(212, 24%, 26%);
    --Grayish-Blue: hsl(211, 10%, 45%);
    --Light-gray: hsl(223, 19%, 93%);
    --Very-light-gray: hsl(228, 33%, 97%);
    --White: hsl(0, 0%, 100%);
}

#root {
    position: relative;
    padding: 20px 0;
    background-color: var(--Light-gray);
}

.App {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    margin: auto;
    font-family: 'Rubik', sans-serif;
}

.all-comments {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.update {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 150px;
}

.update-cont {
    height: 60%;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--Light-gray);
    padding: 15px;
    font-size: 14px;
}

.update-btn {
    width: 75px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--Moderate-blue);
    color: var(--Very-light-gray);
    font-weight: 700;
    font-size: 12px;
    transition: all 0.3s linear;
    align-self: flex-end;
}

.update-btn:hover, .update-btn:focus {
    cursor: pointer;
    opacity: 0.5;
}


@media screen and (min-width: 600px) {
    .App {
        width: 80%;
    }
}

@media screen and (min-width: 800px) {
    .App {
        width: 61%;
    }
}

@media screen and (min-width: 1024px) {
    .App {
        width: 50%;
    }
}